<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://www.nuget.org/api/v2/" />
        <add key="Andreani" value="http://baget.apps.aro.andreani.com.ar/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/architecture-it/index.json" />
    </packageSources>
   <packageSourceCredentials>
       <github>
            <add key="Username" value="eisalazar" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>